<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Number Plate Logger</title>
</head>
<body>
	


   <div class="row">
  		<div id="recorder" class="column">
  			<h1>Detected Vehicle</h1>
  
    		<button id="record">Record</button>
    		<button id="stop">Stop</button>
    		<a id="download"></a>
    		<script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>      
  
  			<img id="video" src="{{ url_for('video_viewer') }}" >
  		</div>
  
 		<div id="detected" class="column">
  			<h1>Detected Vehicle</h1>
  
    		<button id="record">Record</button>
    		<button id="stop">Stop</button>
    		<a id="download"></a>
    		<script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>      
  
  			<img id="video" src="{{ url_for('video_viewer') }}" >
  		</div>
  
  

	</div> 
</body>
</html>
